@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap");
* {
  font-size: 1.15rem;
  line-height: 1.75;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
}
.header {
  text-align: center;
  margin: 4rem 0;
}
.logo {
  box-shadow: none;
}
.bio {
  display: flex;
  align-items: flex-start;
  padding: 4rem;
  border-radius: 16px;
  background-color: #f4f5f6;
  margin: 6rem 0;
}
.bio p {
  margin: 0;
}
.profile {
  border-radius: 100%;
  margin-right: 1.5rem;
}
.blogPageArticle {
  margin-bottom: 12rem;
}
.blogPageArticle:last-of-type {
  margin-bottom: 6rem;
}
.blogTitle {
  text-align: center;
  margin: 0 0 3rem;
  color: #61ba51;
  font-size: 4rem;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}
.blogDate {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  display: block;
  text-transform: uppercase;
  color: #031401;
  margin: 0;
}
.blogBody {
  max-width: 546px;
  margin: 0 auto;
  /* column-count: 2;
  column-gap: 2rem;
  column-fill: auto; */
}
.postImage {
  width: 100%;
}
ul,
ol {
  list-style-position: inside;
}
.pagination {
  display: flex;
}
.prev,
.next {
  color: #61ba51;
}
.prev {
  margin-right: auto;
}
.next {
  margin-left: auto;
}

@media (max-width: 546px) {
  .blogTitle {
    font-size: 3rem;
  }
  .blogBody {
    column-count: 1;
  }
  .bio {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .profile {
    margin: 0 0 2rem;
  }
}
